= dropdown(variation: :dropleft) do
  - if datatable.admin_namespace?
    - if EffectivePosts.submissions_enabled && EffectivePosts.submissions_require_approval && !post.approved?
      = dropdown_link_to 'Approve', effective_posts.admin_approve_post_path(post)

    = dropdown_link_to 'Edit', effective_posts.edit_admin_post_path(post)
    - if EffectivePosts.use_fullscreen_editor
      = dropdown_link_to 'Edit Content', effective_post_path(post, edit: true), title: 'Edit Content', 'data-no-turbolink': true, target: '_blank'

    = dropdown_link_to 'View', effective_post_path(post, preview: true), target: '_blank'

    = dropdown_link_to "Delete", effective_posts.admin_post_path(post),
        data: { method: :delete, confirm: "Really delete #{post}?" }
