= effective_form_with(model: post, url: post.persisted? ? effective_posts.admin_post_path(post.id) : effective_posts.admin_posts_path) do |f|
  = f.text_field :title, hint: 'The title of your post.'

  - if Array(EffectivePosts.categories).length > 1
    = f.select :category, EffectivePosts.categories
  - else
    = f.hidden_field :category, (EffectivePosts.categories.first || 'posts')

  = f.ck_editor :excerpt, hint: 'Will be used for the post excerpt on index pages.'
  = f.text_field :description, hint: 'The content of the post meta tags.', maxlength: 150

  = render partial: '/effective/posts/additional_fields', locals: { post: post, form: f, f: f }

  = f.datetime_field :published_at, label: 'Publish date', hint: 'When should this be displayed on the website.'

  = f.check_box :draft, hint: 'Save this post as a draft. It will not be accessible on the website.'

  - unless EffectivePosts.use_fullscreen_editor
    = f.ck_editor :body, hint: 'The content of your post.'

  - if defined?(EffectiveRoles) and f.object.respond_to?(:roles) && EffectivePosts.use_effective_roles
    = render partial: '/admin/posts/roles', locals: { post: post, form: f, f: f }

  = f.submit do
    = f.save 'Save'

    - if EffectivePosts.use_fullscreen_editor
      = f.save 'Save and Edit Content', class: 'btn btn-secondary'

    = f.save 'Save and View', class: 'btn btn-secondary'

    - if f.object.persisted?
      = f.save 'Duplicate', class: 'btn btn-info'
