= tabs do
  = tab "Post" do
    = render 'admin/posts/form_post', post: post

    - if post.persisted? && post.respond_to?(:log_changes_datatable)
      = tab "Logs" do
        = render_inline_datatable(post.log_changes_datatable)
