- # Event specific fields
= f.show_if_any(:category, EffectivePosts.event_categories) do
  = card('Event Info') do
    = f.datetime_field :start_at, required: false, hint: 'Display a start time for this event.'

    = f.datetime_field :end_at, required: false, hint: 'Display an end time of this event.'

    = f.text_field :location, required: false, hint: 'Display a location where this event is taking place.'

    = f.text_field :website_name, label: 'External website',
      placeholder: 'Buy Tickets', hint: 'The label of an external website.'

    = f.url_field :website_href, label: 'External website address',
      placeholder: 'http://', hint: 'The address of an external website (start with http:// or https://).'
