= simple_form_for(post, (EffectivePosts.simple_form_options || {}).merge(:url => (post.persisted? ? effective_posts.post_path(post.id) : effective_posts.posts_path))) do |f|
  = f.input :title, hint: 'Give this post a title'

  - if Array(EffectivePosts.categories).length > 0
    = f.input :category, collection: EffectivePosts.categories, as: :select, include_blank: false
  - else
    = f.input :category, as: :hidden, input_html: { value: 'posts' }

  - if defined?(EffectiveFormInputs)
    = f.input :published_at, as: :effective_date_time_picker, hint: 'Set this to a future date to schedule a post to appear in the future.'
  - else
    = f.input :published_at, hint: 'Set this to a future date to schedule a post to appear in the future.'

  - if defined?(EffectiveFormInputs)
    = f.input :content, as: :effective_ckeditor_text_area, hint: 'The content of your post.', required: true
  - else
    = f.input :content, as: :text, hint: 'The content of your post.', required: true

  .effective-post-actions.pull-right
    = f.button :submit, 'Save', data: { disable_with: 'Saving...' }
    = link_to 'Cancel', effective_posts.posts_path
