= effective_form_with(model: post, url: post.persisted? ? effective_posts.post_path(post.id) : effective_posts.posts_path) do |f|
  = f.text_field :title, hint: 'The title of your post.'

  - if Array(EffectivePosts.categories).length > 1
    = f.select :category, EffectivePosts.categories
  - else
    = f.hidden_field :category, (EffectivePosts.categories.first || 'posts')

  = render partial: '/effective/posts/additional_fields', locals: { post: post, form: f, f: f }

  = f.datetime_field :published_at, label: 'Publish date', hint: 'When should this be displayed on the website.'

  = f.text_area :body

  / = f.input :body,
  /   as: (defined?(EffectiveFormInputs) ? :effective_ckeditor_text_area : :text),
  /   hint: 'The body of your post. You can add content here, or with the full screen editor on the next page.',
  /   toolbar: 'simple',
  /   required: true

  = f.submit 'Save'
