= effective_form_with(model: post, url: post.persisted? ? effective_posts.post_path(post.id) : effective_posts.posts_path) do |f|
  = f.text_field :title, hint: 'The title of your post.'

  - if Array(EffectivePosts.categories).length > 1
    = f.select :category, EffectivePosts.categories
  - else
    = f.hidden_field :category, (EffectivePosts.categories.first || 'posts')

  = f.ck_editor :excerpt, hint: 'Will be used for the post excerpt on index pages.'
  = f.text_field :description, hint: 'The content of the post meta tags.', maxlength: 150

  = render partial: '/effective/posts/additional_fields', locals: { post: post, form: f, f: f }

  = f.datetime_field :published_at, label: 'Publish date', hint: 'When should this be displayed on the website.'

  = f.check_box :draft, hint: 'Save this post as a draft. It will not be accessible on the website.'

  - unless EffectivePosts.use_fullscreen_editor
    = f.ck_editor :body, hint: 'The content of your post.'

  = f.submit 'Save'
