.col.effective-post.mb-5
  - if EffectivePosts.categories.length > 1 && post.category.present?
    = badge_to_post_category(post.category)

  - if EffectivePosts.use_active_storage && post.image && post.image.attached?
    = link_to effective_posts.post_path(post) do
      = image_tag url_for(post.image), class: "effective-posts-image d-none d-lg-flex align-self-start mb-2", alt: post.title, width: "350", height: "220"

  .effective-posts-meta.mb-2
    = post_meta(post, author: false)
    = post_status_badge(post)
    = admin_post_status_badge(post)

  %h2.effective-posts-title= link_to post, effective_post_path(post)

  - if EffectivePosts.use_excerpt && post.excerpt.present?
    .effective-posts-excerpt
      = post.excerpt

