= render 'layout' do
  .effective-post
    .effective-posts-meta.mb-2
      = post_meta(@post, author: false)
      = admin_post_status_badge(@post)

    %h1.effective-post-title.mb-4= @page_title

    = render 'effective/posts/event', post: @post

    .effective-posts-body.mb-5
      = @post.body

  = link_to("&larr; #{posts_name_label}" .html_safe, effective_posts.posts_path, class: "btn btn-secondary my-4")
